<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>播放列表</title>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" type="text/css" href="../css/init.css"/>
    <link rel="stylesheet" type="text/css" href="../img/font/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../css/playlist.css"/>
    <script type="text/javascript">
    	document.documentElement.style.fontSize=innerWidth/18+'px';
    </script>
    <script src="http://code.jquery.com/jquery-3.2.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://unpkg.com/vue@2.3.4/dist/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/component.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/playlist.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<div class="bgpic">
				<img :src="bgpic" />
			</div>
			
			<header class="top">
				<a href="../index.html"><i class="iconfont icon-xiangzuo"></i></a>
				<div class="title">
					<p>{{listName}}</p>
				</div>
				<a href=""><i class="iconfont icon-gengduo"></i></a>
		</header>
		
		<section>
			<div class="ttop">
				<div class="titles">
				<span>单曲</span>
			</div>
			<div class="top"><span @click="toPlayAll"><i class="iconfont icon-bofang3"></i>播放全部</span><span @click="toPlay"><i class="iconfont icon-bofang3"></i>播放选中</span></div>
			</div>
			
			<ul>
				<template v-if="which">
					<li v-for="song of list" @click="toPlayId(song.id)">
					<div class="songs">
						<p>{{song.name}}</p>
				    <span>{{song.ar[0].name}}·{{song.al.name}}</span>
					</div>
					<i class="iconfont icon-add2 x" @click.stop="add(song.id,$event)"></i>
				</li>
				</template>
				<template v-else>
					<li v-for="song of list" @click="toPlayId(song.id)">
					<div class="songs">
						<p>{{song.name}}</p>
				    <span>{{song.artists[0].name}}</span>
					</div>
					<i class="iconfont icon-add2 x" @click.stop="add(song.id,$event)"></i>
				</li>
				</template>
			</ul>
		</section>
		</div>
		
	</body>
</html>
