body { background: #F0F0F0; }

header { width: 100%; height: 1.76rem; color: #333; font-size: 0.6rem; line-height: 1.76rem; padding-left: 0.3rem; background: white; }
header a .back { display: block; width: 1rem; line-height: 1.76rem; height: 1.76rem; background: url(../img/SVG/back.svg) no-repeat; -webkit-background-size: 100% 100%; background-size: 100% 100%; float: left; }
header a .set { float: left; }

section { width: 100%; padding: 1.02rem 0 1.32rem 0; background: #f0f0f0; }
section .sectiontop { background: white; padding: 0 0.64rem; width: 100%; }
section .sectiontop li { background: white; height: 2rem; }
section .sectiontop li:not(:last-child) { border-bottom: 1px solid #dbdbdb; }
section .sectiontop li .feature { color: #333333; line-height: 2rem; font-size: 0.56rem; float: left; }
section .sectiontop li .sz { float: right; line-height: 2rem; }
section .sectiontop li .sz .ztdx { color: #333333; line-height: 2rem; font-size: 0.56rem; margin-right: 0.64rem; float: left; }
section .sectiontop li .sz .forright { float: left; width: 0.52rem; height: 0.52rem; overflow: hidden; position: relative; margin-top: 0.74rem; float: left; }
section .sectiontop li .sz .forright .jk { display: block; width: 0.52rem; height: 0.52rem; border: 1px solid #c2c2c2; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); position: absolute; top: 0; left: -0.26rem; float: left; }
section .sectiontop li .sz .hc { font-size: 0.56rem; color: #909090; }
section .sectiontop li .tpsz { padding-top: 0.4rem; float: left; }
section .sectiontop li .tpsz p { font-size: 0.56rem; }
section .sectiontop li .tpsz span { display: block; font-size: 0.36rem; color: #909090; }
section .sectiontop li .hd { float: right; margin-top: 0.74rem; }
section .sectiontop li .hd .hd1 { width: 1.24rem; height: 0.66rem; -webkit-border-radius: 0.66rem; border-radius: 0.66rem; position: relative; background: #dbdbdb; }
section .sectiontop li .hd .hd2 { width: 0.64rem; height: 0.64rem; -webkit-border-radius: 50%; border-radius: 50%; position: absolute; background: #707070; -webkit-box-shadow: 0 0.04rem 0.08rem black; box-shadow: 0 0.04rem 0.08rem black; top: 0; left: 0; }
section .sectiontop li .hd .hd1-1 { width: 1.24rem; height: 0.66rem; -webkit-border-radius: 0.66rem; border-radius: 0.66rem; position: relative; background: #f8d62b; }
section .sectiontop li .hd .hd2-1 { width: 0.64rem; height: 0.64rem; -webkit-border-radius: 75%; border-radius: 75%; position: absolute; background: #707070; -webkit-box-shadow: 0px 0.04rem 0.08rem black; box-shadow: 0px 0.04rem 0.08rem black; top: 0; right: 0; }
section .sectionbottom { background: white; width: 100%; padding: 0 0.64rem; margin-top: 1.34rem; }
section .sectionbottom li { background: white; height: 2rem; }
section .sectionbottom li:not(:last-child) { border-bottom: 1px solid #dbdbdb; }
section .sectionbottom li .feature { color: #333333; line-height: 2rem; font-size: 0.56rem; float: left; }
section .sectionbottom li .sz { float: right; line-height: 2rem; }
section .sectionbottom li .sz .forright { float: left; width: 0.52rem; height: 0.52rem; overflow: hidden; position: relative; margin-top: 0.74rem; float: left; }
section .sectionbottom li .sz .forright .jk { display: block; width: 0.52rem; height: 0.52rem; border: 1px solid #c2c2c2; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); position: absolute; top: 0; left: -0.26rem; float: left; }

footer { background: #F0F0F0; }
footer .tc { height: 2rem; background: white; }
footer .tc span { display: block; font-size: 0.6rem; color: #333333; text-align: center; line-height: 2rem; }
